<article class="card card--secondary">

        <img class="card__image" src="{{ image }}" alt="{{ title }}">

    <div class="card__content">
        <h3 class="card__title">{{ title }}</h3>
        <span class="card__tag">{{ tag }}</span>
    </div>
    <a class="card__link--full" href="{{ link }}"><span class="sr-only">{{ title }}</span></a>
</article>
